PORT=3001
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/ava
JWT_SECRET=votre-jwt-secret-tres-long-et-aleatoire-minimum-32-caracteres
TELEGRAM_BOT_TOKEN=votre-token-botfather
TELEGRAM_CHAT_ID=votre-chat-id-telegram
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PRICE_ID=price_...
STRIPE_WEBHOOK_SECRET=whsec_...
CLIENT_URL=http://localhost:8081
